<div class="d-flex align-items-center justify-content-center">
	<h1> Sign In </h1>
</div>


<%= form_with url: sign_in_path do |form| %>

	<div class="mb-3 row">
		<%= form.label :email %>
		<%= form.text_field :email, class:"form-control", placeholder: "exemple:yuri@gmail.com" %>
	</div>

	<div class="mb-3 row">
		<%= form.label :password %>
		<%= form.password_field :password, class:"form-control", placeholder: "password"%>
		<%= link_to "Forgot your password ?", password_reset_path, class:"btn btn-secundary" %>
	</div>

	<div class="mb-3 row">
		<%= form.submit "Sign In", class:"btn btn-primary" %>
	</div>

<% end %>